<footer class="footer">
  <div class="footer-content">
    <!-- Left: Branding -->
    <div class="footer-brand">
      <div class="logo">
        <span class="logo-icon">⬡</span>
        <span class="logo-text">Opion</span>
      </div>
      <p class="description">
        Ease of shopping is our main focus. With powerful search features and customizable filters, you can easily find the products you are looking for.
      </p>
      <div class="social-iconsd-inline">
        <span><img src="https://www.svgrepo.com/show/506656/facebook.svg" width="30px" height="30px" alt="Facebook" />  </span>
        <span><img src="https://www.svgrepo.com/show/506668/instagram.svg" width="30px" height="30px" alt="Instagram" />  </span>
        <span><img src="https://www.svgrepo.com/show/157006/linkedin.svg" width="30px" height="20px" alt="LinkedIn" />  </span>
      </div>
      <div class="newsletter">
        <p>Subscribe to Newsletter</p>
        <div class="newsletter-input">
          <span class="mail-icon">✉</span>
          <input type="email" placeholder="Enter Your Email Here" />
        </div>
      </div>
    </div>

    <!-- Right: Links -->
    <div class="footer-links">
      <div class="link-group">
        <p class="link-title">Get Started</p>
        <ul>
          <li><div >Service</div></li>
          <li><div >Contact Us</div></li>
          <li><div >Affiliate Program</div></li>
          <li><div >About Us</div></li>
        </ul>
      </div>
      <div class="link-group">
        <p class="link-title">Get Started</p>
        <ul>
          <li><div >Dashboard</div></li>
          <li><div >Platform</div></li>
          <li><div >Workout Library</div></li>
          <li><div >App Design</div></li>
        </ul>
      </div>
      <div class="link-group">
        <p class="link-title">Get Started</p>
        <ul>
          <li><div >About Us</div></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Footer bottom -->
  <div class="footer-bottom">
    <span>2024 MaxFit</span>
    <div class="footer-social-links">
      <div>Twitter</div>
      <span>–</span>
      <div>Instagram</div>
      <span>–</span>
      <div>Facebook</div>
    </div>
  </div>
</footer>
