<footer class="footer">
  <div class="footer-content">
    <!-- Left: Branding -->
    <div class="footer-brand">
      <div class="logo">
        <span class="logo-icon">⬡</span>
        <span class="logo-text">Opion</span>
      </div>
      <p class="description">
        {{ 'FOOTER_DESCRIPTION' | translate }}
      </p>
      <div class="social-iconsd-inline">
        <span><img src="https://www.svgrepo.com/show/506656/facebook.svg" width="30px" height="30px" alt="Facebook" />  </span>
        <span><img src="https://www.svgrepo.com/show/506668/instagram.svg" width="30px" height="30px" alt="Instagram" />  </span>
        <span><img src="https://www.svgrepo.com/show/157006/linkedin.svg" width="30px" height="20px" alt="LinkedIn" />  </span>
      </div>
      <div class="newsletter">
        <p>{{ 'SUBSCRIBE_NEWSLETTER' | translate }}</p>
        <div class="newsletter-input">
          <span class="mail-icon">✉</span>
          <input type="email" [placeholder]="'ENTER_EMAIL' | translate" />
        </div>
      </div>
    </div>

    <!-- Right: Links -->
    <div class="footer-links">
      <div class="link-group">
        <p class="link-title">{{ 'GETSTARTED' | translate }}</p>
        <ul>
          <li><div>{{ 'SERVICE' | translate }}</div></li>
          <li><div>{{ 'CONTACTUS' | translate }}</div></li>
          <li><div>{{ 'AFFILIATE_PROGRAM' | translate }}</div></li>
          <li><div>{{ 'ABOUTUS' | translate }}</div></li>
        </ul>
      </div>
      <div class="link-group">
        <p class="link-title">{{ 'GETSTARTED' | translate }}</p>
        <ul>
          <li><div>{{ 'DASHBOARD' | translate }}</div></li>
          <li><div>{{ 'PLATFORM' | translate }}</div></li>
          <li><div>{{ 'WORKOUT_LIBRARY' | translate }}</div></li>
          <li><div>{{ 'APP_DESIGN' | translate }}</div></li>
        </ul>
      </div>
      <div class="link-group">
        <p class="link-title">{{ 'GETSTARTED' | translate }}</p>
        <ul>
          <li><div>{{ 'ABOUTUS' | translate }}</div></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Footer bottom -->
  <div class="footer-bottom">
    <span>2024 MaxFit</span>
    <div class="footer-social-links">
      <div>{{ 'TWITTER' | translate }}</div>
      <span>–</span>
      <div>{{ 'INSTAGRAM' | translate }}</div>
      <span>–</span>
      <div>{{ 'FACEBOOK' | translate }}</div>
    </div>
  </div>
</footer>
