<header class="header">
  <div class="left">
    <h2 class="brand">Bitstore</h2>
  </div>

  <div class="center">
    <div class="search-wrapper">
  <div class="input-with-icon">
    <input type="text" placeholder="Search" />
    <i class="fas fa-search search-icon"></i>
  </div>
  <button class="search-button">Search</button>
</div>

  </div>

  <div class="right">
    <div class="profile">

      <img src="../../../assets/profile.png" alt="Profile" class="avatar" />

    </div>
  </div>
</header>