<div class="product-page">
  <div class="header">
    <h2>Product</h2>
    <button class="add-btn" (click)="goToAddProduct()">+ Add New Product</button>
  </div>

  <div class="main">
    <div class="table-area bg-white">
            <div class="container ">
                <div class="left">
                    <div class="tabs">
                        <span [class.active]="true">Published</span>
                        <span [class.active]="false">Draft</span>
                    </div>
                </div>
            <div class="right">
                <div class="table-actions">
                        <select class="border rounded m-2 px-2 action-button">
                          <option>Filter</option>
                        </select>
                        <select class="border rounded m-2 px-2 action-button">
                          <option>Download</option>
                        </select>
                </div>
            </div>
            </div>
            <app-product-list></app-product-list>

    </div>

  <div class="sidebar">
      <div class="card">
      <app-line-charts title="Total Views" [amount]="112893" trendTitle="trend title" [trendPercent]="70.5" [trendPositive]="true" [amountValue]="false" [lineChartData]="constants.TOTAL_EARNING_LINECHART_OVERVIEW" [ticks]="{display : false}"></app-line-charts>
      </div>
    </div>
  </div>
</div>
