<div *ngIf="products === null">
    Loading
</div>

<table>
  <thead>
    <tr>
      <th><input type="checkbox" /></th>
      <th>Product Name</th>
      <th>Views ⬍</th>
      <th>Pricing ⬍</th>
      <th>Revenue ⬍</th>
      <th>Manage ⬍</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td><input type="checkbox" /></td>
      <td>
        <div class="product-info">
          <img src="../../../assets/mobile.jpg" alt="Product" />
          <span>{{ product.product_name }}</span>
        </div>
      </td>
      <td>{{ product.views }}</td>
      <td>{{ product.price }}</td>
      <td>${{ product.revenue }}</td>
      <td class="table-button">
        <button class="edit-btn" (click)="editProduct(product)">Edit</button>
        <button class="delete-btn">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
