<ul class="menu">
  <li (click)="goToDashboard()">
    <div class="">
      <i class="fa fa-home"></i>
      {{'HOME' | translate}}
    </div>
    
  </li>
  <li *ngIf="adminUser === 'true'" (click)="goToDashboard()">
    <div class="">
      <i class="fa fa-th"></i>
      {{'DASHBOARD' | translate}}
    </div>
  </li>
  <li (click)="toggleDropdown('store')" class="bg-gray">
    <div>
      <i class="fa-solid fa-store"></i>
      {{'STORE' | translate}}
    </div>
    <span class="menu-state-icon">{{ dropdowns.store ? '▲' : '▼' }}</span>
  </li>
  <ul *ngIf="dropdowns.store">
    <li [ngClass]="{ 'active': isProductSelected, 'inactive': isProductSelected === false }" (click)="goToProductPage()">{{'PRODUCT' | translate}}</li>
    <li [ngClass]="{ 'active': productDetailsSelected, 'inactive': productDetailsSelected === false }" (click)="goToAddProductPage()">{{"ADDPRODUCT" | translate}}</li>
  </ul>

  <li (click)="toggleDropdown('analytic')" class="bg-gray">
    <div >
      <i class="fa-solid fa-chart-simple"></i>
      {{'ANALYTICS' | translate}}
    </div>
    <span class="menu-state-icon">{{ dropdowns.analytic ? '▲' : '▼' }}</span>
  </li>
  <ul *ngIf="dropdowns.analytic">
    <li>{{'TRAFFIC' | translate}}</li>
    <li>{{'EARNING' | translate}}</li>
  </ul>

  <li (click)="toggleDropdown('finances')" class="bg-gray">
    <div >
      <i class="fas fa-money-check-alt"></i>
      {{'FINANCES' | translate}}
    </div>
    <span class="menu-state-icon">{{ dropdowns.finances ? '▲' : '▼' }}</span>
  </li>
  <ul *ngIf="dropdowns.finances">
    <li>{{'PAYMENT' | translate}}</li>
    <li>{{'PAYOUT' | translate }}</li>
  </ul>

  <li (click)="toggleDropdown('account')" class="bg-gray">
    <div class="">
      <i class="fa-solid fa-gear"></i>
      {{'ACCOUNTSETTING' | translate}}
    </div>
    <span class="menu-state-icon">{{ dropdowns.account ? '▲' : '▼' }}</span>
  </li>
  <ul *ngIf="dropdowns.account">
    <li>{{'MYPROFILE' | translate}}</li>
    <li>{{'SECURITY' | translate}}</li>
  </ul>

  <li class="bg-gray">
    <div>
      <i class="fa-solid fa-headset"></i>
      {{'HELPANDSUPPORT' | translate}}
    </div>
  </li>
</ul>
