<ul class="menu">
  <li (click)="toggleDropdown('dashboard')">Dashboard</li>
  <li (click)="toggleDropdown('store')">
    Store <span>{{ dropdowns.store ? '▲' : '▼' }}</span>
  </li>
  <ul *ngIf="dropdowns.store">
    <li>Product</li>
    <li>Add Product</li>
  </ul>

  <li (click)="toggleDropdown('analytic')">
    Analytic <span>{{ dropdowns.analytic ? '▲' : '▼' }}</span>
  </li>
  <ul *ngIf="dropdowns.analytic">
    <li>Traffic</li>
    <li>Earning</li>
  </ul>

  <li (click)="toggleDropdown('finances')">
    Finances <span>{{ dropdowns.finances ? '▲' : '▼' }}</span>
  </li>
  <ul *ngIf="dropdowns.finances">
    <li>Payment</li>
    <li>Payout</li>
  </ul>

  <li (click)="toggleDropdown('account')">
    Account Setting <span>{{ dropdowns.account ? '▲' : '▼' }}</span>
  </li>
  <ul *ngIf="dropdowns.account">
    <li>My Profile</li>
    <li>Security</li>
  </ul>

  <li (click)="toggleDropdown('help')">
    Help And Support <span>{{ dropdowns.help ? '▲' : '▼' }}</span>
  </li>
</ul>
