.card {
  background: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}
.title {
  font-weight: bold;
  font-size: 1.2rem;
}
.subtitle {
  color: gray;
  margin-bottom: 1rem;
}
table {
  width: 100%;
  border-spacing: 0 0.5rem;
}
.subtext {
  font-size: 0.8rem;
  color: #aaa;
}
.status.success {
  color: green;
}
.footer-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content:end;
}
button {
  background: #22c55e;
  color: white;
  border: none;
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0px 10px
}

tr {
  border: 0.5px solid rgb(185, 185, 185);
}

.text-center { 
  text-align: center;
}
