/* Full container background gradient to match the image */
:host {
  display: block;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  max-width: 850px;
  margin: auto;
  height : 100%
}
canvas {
  height:90% !important;
}